adf/pipeline/incrementalPipelineDesign1.json
{
	"name": "incrementalPipelineDesign1",
	"properties": {
		"activities": [
			{
				"name": "capture ETL cutoff date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select cast(max(ModifiedDate) as date) as incrdate from dbo.TargetCustomer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "capture ETL cutoff date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "incrementaldate",
					"value": {
						"value": "@activity('capture ETL cutoff date').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"incrementaldate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}